.App {
  text-align: center;
}

.input-fields {
  width: 50%;
  margin: auto; 
  border: gray 2px solid; 
  border-radius: 30px;
  padding: 0.5rem;
  background-color: #f6f6f4;
}

.graphs {
  width: 50%;
  margin: auto; 
}

.submit-button {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  margin: 0.5rem 0; 
  border-radius: 35px;  
}

.update-button {
  color: #000;
  background-color: #74fcbb;
  border-color:#74fcbb;
  margin: 0.5rem 0; 
  border-radius: 35px;
}

.form-group {
  margin-bottom: 0.5rem; 
}

